 <%- include('../partials/header'); %>
	<style>
		<%- include('../style/style');
		%>
	</style>

	<table>


		<tr>
			<td> id </td>
			<td> date </td>
			<td> item</td>
			<td> amount </td>
			<td> action </td>
		</tr>


		<tr>
			<td>
				<%= result.id %>
			</td>
			<td>
				<%= result.date %>
			</td>
			<td>
				<%= result.item %>
			</td>
			<td>
				<%= result.amount %>
			</td>
			
			<td> <a href="/expense_delete/<%= result.id %>">delete</a> </td>
		</tr>

	</table>
	<%- include('../partials/footer'); %>